body {
    font-family: "Open Sans";
}

h1 {
    font-weight: 700;
    font-size: 48px;
}

h2 {
   font-weight: 700;
   font-size: 34px;
}

p {
   font-weight: 400;
   font-size: 18px;
}

.paragraph {
   font-weight: 400;
   font-size: 18px;
}
.list {
    list-style: none;
    display: flex; 
    justify-content: center;
}

 li {
    margin: 0 20px; 
}

.container {
    width: 95%;
    max-width: 970px;
    margin: 0 auto;
    text-align: center;
}

div h1 {
    text-align: left;
}

header .container {
    border-bottom: 1px solid #828282;
}

.fig-item {
    color:#828282;
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 0.02em;
}

.item {
    font-weight: 400;
    font-size: 14px;
    color:#828282;
}

a:hover, a:focus {
    color: #070707;
}

 header {
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 0.02em;
 }

header a {
    text-decoration: none;
}

.list_portfolio {
    list-style: none;
}

.list_portfolio a {
    color:#070707;
}

.about {
    background-color: #F6F6F6;
}

.gray {
    opacity: .3;
}

.portfolio {
    background-color: #F6F6F6;
}

.portfolio a {
    font-weight: 400;
    font-size: 18px;
}

button {
    border-radius: 22px;
    padding: 0px 16px;
    width: 180px;
    height: 44px;
    background: #070707;
    cursor: pointer;
}

.button-text {
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 0.1em;
    text-align: center;
    color: #fff;
}